nav {
    background-color: rgb(191, 112, 17);
    color: white;
    text-align: center;
    font-size: 150%;
    width: 25%;
    float: left;
}
footer {
    text-align: right;
    background-color: rgb(191, 112, 17);
    color: white;
    font-size: 150%;
}
header {
    text-align: center;
    background-color: rgb(255, 213, 162);
    padding: 20px;
}
main {
    height: 400px;
}
a,
a:visited {
    color: white;
}

button,
input[type="button"] {
    background-color: brown;
    border: 2px brown;
    color: white;
    font-weight: bold;
    padding: 10px;
}
